@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oregano:ital@0;1&family=Playwrite+BE+VLG:wght@100..400&display=swap');
* {/*This ensures all the text stays together
    unless formatted  to be otherwise*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    /*This is the basic format 
    for the entire website*/
    color: #08175c;
    text-align: center;
    height: 100%;
    margin: 0%;
    min-height: 100vh;
    width: 100%;
    font-family: "Lato";
}

head{
    /*This is the format for the
    head of the pages*/
    background-color: #f7b605;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

nav{
    /*This is the format
    for the navagation bar
    specifically the link*/
    background-color: #08175c;
    margin: 0%;
    font-size: 20px;
    font-family: "Lato";
    color: white;
    padding: 1%;
    text-align: center;
}

.nav{
    /*This formats the entire navgation table*/
    color:white;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hover:hover{
    /*Format for the hover feature of the navagation links*/
    text-decoration: underline #f7b605;
}

li{
    /*Formats the lists*/
    font-family: "Lato";
    margin: auto;
}

span{
    /*Formats the links in the text*/
    color:white;
    font-weight: bolder;
    text-decoration: underline;
}

a{
    /*Format for the links in the nav bar and images*/
    padding: 10%;
    text-align: center;
    color: white;
    text-decoration: none;
}

h1{
    /*Format for the h1 headings*/
    background-color: #08175c;
    color: #f7b605;
    padding: 0%;
    font-family: "Oregano";
}

p{
    /*Format for the paragraphs*/
    font-family: "Lato";
    line-height: 100%;
    margin: 1%;
}

h3{
    /*Formats for the subheadings in classes page*/
    font-family: "Texturina";
    font-size: 25px;
    padding: 2%;
}

.preschool_dance, .jazz, .tap, .hiphop, .ballet, .contemp{
    /*This adds the background image to all the divs*/
    background-image: url("classes_bkgrd.png");
    margin-left: 5%;
}

.contact_bkgrd{
    /*This adds the background image to the div*/
    background-image: url("contactus_bkgrd.png");
    background-repeat: repeat-x;
    
}

.link{
    /*This formats the links within the text*/
    text-decoration: underline;
    color: #08175c;
    padding: 0px;
    margin: 0px;
}

.info{
    /*Formats text of the contact page*/
    text-align: center;
    width: 75%;
    display: inline;
    vertical-align: middle;
}

footer{
    /*Formats the footer*/
    background-color: #f7b605;
    text-align: center;
    font-family: "Lato";
    padding: 1%;
    place-content: bottom;
    position: relative;
    margin-bottom: 0%;
    margin-top: 2%;
}


div.gallery, .responsive {
    /*This gives the gallery and reponsive divs borders*/
    border: 0px;
    width: 100%;
}


div.gallery:hover {
    /*This provides the box when images are hovered over in gallery*/
    border: 1px solid #08175c;
}
 
div.gallery img {
    /*Formats all images in gallery*/
    width: 75%;
    height: auto;
    line-height: normal;
    
}

.responsive {
    /*Formats the responsive div*/
    padding: 0 2px;
    display: inline-block;
    width: 24.99999%;
}
 
@media only screen and (max-width: 700px) {
    .responsive {
        /*Formats the image in the popup*/
      width: 49.99999%;
      margin: 6px 0;
    }
}
 
@media only screen and (max-width: 500px) {
    .responsive {
        /*Formats the image in the popup*/
      width: 100%;
    }
}

div.home{
    /*Format for the home page content*/
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

table{
    /*Format for tables*/
    margin-right: 2%;
    padding: 0px;
    width: flex;
    border-collapse: collapse;
}

.contactus_table{
    /*Sprecific format for table on the Contact page*/
    padding: 1%;
    margin-top: 1%;
}

.small_img img{
    /*Specofic format for the small images in gallery*/
    padding: 5%;
    width: 25%;
    vertical-align: auto;
}