@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
body{
    color: #08175c;
    background-color: #f7b605;
    text-align: center;
}

.navbar{
    background-color: #f7b605;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: #08175c;
    color: #f7b605;
    padding: 0%;
}

p{
    background-color: white;
}