@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oregano:ital@0;1&family=Playwrite+BE+VLG:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    color: #08175c;
    text-align: center;
    height: 100%;
    margin: 0%;
    min-height: 100vh;
}

head{
    background-color: #f7b605;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: #08175c;
    margin: 0%;
    font-size: 20px;
    font-family: "Lato";
    color: white;
    padding: 1%;
    text-align: center;
}

a{
    padding: 10%;
    text-align: center;
    color: white;
}

h1{
    background-color: #08175c;
    color: #f7b605;
    padding: 0%;
    font-family: "Oregano";
}

p{
    font-family: "Lato";
}

h3{
    font-family: "Texturina";
    font-size: 25px;
}

div{
    background-image: url("classes_bkgrd.png");
    margin-left: 5%;
}

.dance{
    text-align: left;
    margin-left: 0px;
    background-image: url("classes_bkgrd.png");
    background-repeat: repeat-x;
    float: left;
}

.link{
    text-decoration: underline;
    color: #08175c;
    padding: 0px;
}


button{
    border:#08175c;
    background-color: #08175c;
    color: white;
    padding: 5px;
}

.info{
    text-align: center;
    margin: 0;
    background-image: url("contactus_bkgrd.png");
    background-repeat: repeat-x;
    
}

footer{
    background-color: #f7b605;
    text-align: center;
    font-family: "Lato";
    padding: 1%;
    place-content: bottom;
}


.gallery{
    margin: 2%;
}

.nav{
    color:white;
    display: flex;
    /*gap: 15px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    font-family: "Lato";
    margin: auto;

}

